<!DOCTYPE html>

<html lang="en" dir="ltr">
<head th:replace="admin/aadad :: header">

</head>

<body th:replace="admin/aadad :: body">



</body>
     <div class="content">
    <br><br><br><br><br>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center"> Create Car</h2>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/admin/models/update/{modelId}(modelId=${model.Id})}" th:object="${model}">
                    <div class="mb-3">
                        <label class="form-label"> name </label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Enter name"
                                name="name"
                                th:field="*{name}"
                        />
                        <p th:if="${#fields.hasErrors('name')}" class="text-danger"
                        th:errors="*{name}"></p>
                    </div>
                 
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

</div>

</body>
</html>
