<!DOCTYPE html>

<html lang="en" dir="ltr">
<head th:replace="admin/aadad :: header">

</head>

<body th:replace="admin/aadad :: body">



</body>
     <div class="content">
    <br><br><br><br><br>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center"> Edit Post</h2>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/admin/policyTypes/update/{policyTypeId}(policyTypeId=${policyType.id})}" th:object="${policyType}">
                   <div class="mb-3">
                        <label class="form-label"> name </label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Enter name"
                                name="name"
                                th:field="*{name}"
                        />
                        <p th:if="${#fields.hasErrors('name')}" class="text-danger"
                        th:errors="*{name}"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"> detail </label>
                        <input
                                class="form-control"
                                id="detail"
                                placeholder="Enter detail"
                                name="detail"
                                th:field="*{detail}"
                        >
                        <p th:if="${#fields.hasErrors('detail')}" class="text-danger"
                           th:errors="*{detail}"></p>
                    </div>
                   
                    <label class="form-label"> price </label>
                        <input
                                type="text"
                                class="form-control"
                                id="minPrice"
                                placeholder="Enter minPrice"
                                name="minPrice"
                                th:field="*{minPrice}"
                        />
                        <p th:if="${#fields.hasErrors('minPrice')}" class="text-danger"
                        th:errors="*{minPrice}"></p>
                    
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

</div>

</body>
</html>