<!DOCTYPE html>

<html lang="en" dir="ltr">
<head th:replace="guestLayout :: header">

</head>

<body th:replace="guestLayout :: body">



</body>


     <div class="content">
    <br><br><br><br><br>
    
    <div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center"> Apply Policy</h2>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/carPolicies/checkout}" th:object="${policy}">
                    <div class="mb-3">
                        <input type="hidden" th:field="*{policyId}">
                        <input type="hidden" th:field="*{policyTypeId}">
                        <label class="form-label"> License Plate </label>
                         <input
                                class="form-control"
                                id="licensePlate"
                                placeholder="Enter licensePlate"
                                name="licensePlate"
                                th:field="*{licensePlate}" 
                                readonly
                        >
                        <p th:if="${#fields.hasErrors('licensePlate')}" class="text-danger"
                        th:errors="*{licensePlate}"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"> National Identity </label>
                        <input
                                class="form-control"
                                id="nationalIdentity"
                                placeholder="Enter nationalIdentity"
                                name="nationalIdentity"
                                th:field="*{nationalIdentity}" 
                                readonly
                        >
                        <p th:if="${#fields.hasErrors('nationalIdentity')}" class="text-danger"
                           th:errors="*{nationalIdentity}"></p>
                    </div>
                    
                    <div class="form-group mb-3">
                                 <label class="form-label"> Start Date </label>
                                 <input class="form-control" id="startDate" name="startDate" placeholder="Enter startDate" type="date" th:field="*{startDate}" readonly>
                                   <p th:if="${#fields.hasErrors('startDate')}" class="text-danger" th:errors="*{startDate}"></p>
                    </div>
                    
                    <div class="form-group mb-3">
                                 <label class="form-label"> End Date </label>
                                 <input class="form-control" id="endDate" name="endDate" placeholder="Enter endDate" type="date" th:field="*{endDate}" readonly>
                                   <p th:if="${#fields.hasErrors('endDate')}" class="text-danger" th:errors="*{endDate}"></p>
                    </div>

                    <div class="form-group mb-3">
                                 <label class="form-label"> Price </label>
                                 <input class="form-control" id="price" name="price" placeholder="Enter price" type="number" th:field="*{price}" readonly>
                                   <p th:if="${#fields.hasErrors('price')}" class="text-danger" th:errors="*{price}"></p>
                    </div>
                   
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
